
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Detail</title>
</head>
<body>
    <h1>Recipe Detail</h1>
    <h2>{{ recipe_details.recipe }}</h2>
    
    <h3>Ingredients:</h3>
    <p>{{ recipe_details.ingredients }}</p>

    <h3>Instructions:</h3>
    <p>{{ recipe_details.instructions }}</p>

    <h3>Image:</h3>
    <img src="{{ recipe_details.image_links }}" alt="Recipe Image">

    <a href="{{ recipe_details.url }}">Back to Recipe List</a>
</body>
</html>